.search button {
	padding: 5px 8px 6px 8px;
	top: -29px;
}

.search input {
	width: 64%;
}

#contactForm button {
	width: 105px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.content {
	margin-left: 0;
	margin-right: 0;
}